.avatar {
    width: 130%;
    border-radius: 50%;
}

.job {
    margin-bottom: 1rem;
}

.instagram:hover {
    color: #e4405f;
}

.twitter:hover {
    color: #1DA1F2;
}

.divider.fat {
    border-top-color: #0645AD;
}