.avatar {
  width: 130%;
  border-radius: 50%;
}

.job {
  margin-bottom: 1rem;
}

.instagram:hover {
  color: #e4405f;
}

.twitter:hover {
  color: #1da1f2;
}

.divider.fat {
  border-top-color: #00f;
}

.dropdown {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.15em;
}
